<header>
  <div class="header-menu">
    <a class="left" href="<%= url_for(theme.menu.HOME) %>"><%= config.title %></a>
    <div class="right">
      <% Object.keys(theme.menu).forEach(function(key) { %>
        <a href="<%= url_for(theme.menu[key]) %>"><%= key %></a>
      <% }); %>
    </div>
  </div>

  <div class="home-title-content">
    <h1 class="title">
        <%= title || config.title %>
    </h1>
    <p class="desc">
        <%= config.description %>
      </p>
  </div>
</header>