<!DOCTYPE html>
<html lang="en">
<head>
  <% include _include/head.ejs %>
  <%- css('css/arduino-light.css') %>
</head>
<body>
  <main>
    <div class="top-inner">
      <h1 class="page-title">
        <%= page.title %>
      </h1>
      <% if (page.tags && page.tags.length > 0) { %>
        <ul class="tag-list">
          <% page.tags.forEach((v) => { %>
            <li class="tag-list-item">
              <a href="<%= config.root + v.path %>"><%= v.name %></a>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </div>
    <article class="post resume">
        <%- page.content %>
    </article>
  </main>
  <%- js('js/highlight.js') %>
</body>
</html>


